@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: "Roboto";
}

h1 {
  font-family: "Roboto";
}

body {
  background-color: #cdb4db;
  display: table;
  margin: auto;
  height: 100%;
  margin-top: 20%;
}

.cookie-img {
  margin-left: auto;
  margin-top: auto;
}

button {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.cookie {
  width: 35%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.cookie:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.cookie:active {
  color: #000
}

.cookie:active:after {
  background: transparent;
}

.cookie:hover:before {
  opacity: 1;
}

.cookie:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.cookie-holder {
  position: relative;
  overflow: hidden;
}

.cookie-img {
  position: relative;
  z-index: 1;
}

.cookie-quote {
  position: absolute;
  top: 80%;
  left: 50%;
  height: 10%;
  background: rgb(255, 255, 255);
  box-shadow: 4px 4px 11px grey;
  transition: left .1s;
  transform: translate(-50%, -50%);
}

.show-cookie {
  left: 50%;
  padding: 50% 50% 50% 50%;
}